/* ======================================================================== */
/* DOM */
/* ======================================================================== */
body{
  padding: 0;
  margin: 0;

  display: block;

}

/*********************************************/
/****Animacion circulo con nombre de la cerveza****/

/*Original: https://codepen.io/ibanez182/pen/rOmYKq */
/*Modificado (Ana): https://codepen.io/Ana-Kuenneth/pen/xxyYzEd */

/* @import url(https://fonts.googleapis.com/css?family=Raleway:300); */
/* $primary-color: blue; */
/* $easing: all 0.5s cubic-bezier(0.55,0, 0.1,1); */
/* $base-size: 20rem; */

html {
  height: 100%;
  margin: 0;
}
 /* @media (max-width: (20rem * 1.6)) {
    font-size: 12px;
  }
} */
/******************************************/






/* ======================================================================== */
/* NAVBAR*/
/* ======================================================================== */
header{
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 9999;
  background-color: rgba(255, 0, 0, 0.644);
}

nav{
  width: 100%;
  margin: 0;
  padding: 0;
  /* z-index: 99999;
  position: absolute; */
}

.navbar__items{
  list-style-type: none;
  display: flex;
  align-content: center;
  margin: 0;
  padding: 0;
}

.logo__anchor{
  display: flex;
  align-items: center;
}
.navbar__logo{
  height: 2.3rem;
  padding: 10px 50px 10px 10px;
}
.navbar__items > li{
  display: flex;
  align-items: center;
  padding: 25px 30px 25px 0;
  margin: 0;
}

.navbar__items > li > a{
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 1.02rem;
  text-decoration: none;
}


/* ======================================================================== */
/* HOME*/
/* ======================================================================== */
.slider-frame {
  /* width: 1280px; */
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.slider-frame ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 400%;

  animation: slide 32s infinite alternate ease-in-out;
}

.slider-frame li {
  width: 100%;
  list-style: none;
}

.slider-frame img {
  width: 100%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }

  105% {
    margin-left: -400%;
  }

  125% {
    margin-left: -400%;
  }
}

/***********texto carrousel***********/
.contenedor_carrousel > ul > li {
  height: min-content;
}  /*se intenta arreglar el pedazo extra que hay debajo del carrousel*/

.contenedor_carrousel{
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto_encima_carrousel{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  padding-top: 38vh;
  text-align: center;

  background-color: #ff3300ad;
}

.titulo_home{
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  font-size: 80px;
  line-height: 72px;
  color: #ffcd00;
  text-shadow: 0 4px 4px rgba(0,0,0,1);
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;

}
.subtitulo_home{
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  font-size: 60px;
  line-height: 52px;
  color: #ffcd00;
  text-shadow: 0 4px 4px rgba(0,0,0,.5);
  letter-spacing: 0.05em;

  display: flex;
  text-align: center;
  align-content: center;
  justify-content: space-around;
  padding: 20px 60px 0px 60px;

}
/* ======================================================================== */
/* CERVEZAS*/
/* ======================================================================== */

.fondo_cervezas{
  background-image: url("/assets/brahma/bg-MediaAlbum.a7a454e4.jpg");
  margin: 0;
  padding: 0;
  height: 100vh;
}

#CERVEZAS{
  margin: 0;
  padding: 10% 10% 10% 10%;

  text-align: center;
  letter-spacing: 0.05em;

  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  font-size: 80px;
  line-height: 72px;
  text-transform: uppercase;
  color: #ffcd00;
  text-shadow: 0 4px 4px rgba(0,0,0,.5);
}

#MARCA{
  margin: 0;
  padding: 10% 10% 10% 10%;

  text-align: center;
  letter-spacing: 0.05em;

  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  text-transform: uppercase;
  color: #ffcd00;
  text-shadow: 0 4px 4px rgba(0,0,0,.5);
}

.cervezas{
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height:600px;

  margin: 0;
  padding: 0;
}

/****Se muestran las cervezas (se puede mejorar con JS)****/
.productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: baseline;
  flex-direction: row;

  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 50%;
  text-align: center;

  margin-top: 50px;
}

/****Se adapta el tamaño de las imagenes para que queden iguales****/
.tamaño{
  padding: 50px 50px 20px 50px;
}

 #chopp, #lager{
  height: 12rem;
}
#malzbier{
  height: 12rem;
  width: 5.5rem;
}
#lager{
  width: 8rem;
}

/* *************ANIMACIONES****************** */
/* H1 CERVEZAS */
.tracking-in-expand{
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* HOVERS */
/****Titulo de cerveza****/
#CERVEZAS {
  text-decoration: inherit;
}
#CERVEZAS:hover {
  text-shadow: 3px 4px 7px rgba(39, 39, 37, 0.883);
  transition-duration: 1s;
}

/****Cervezas****/
.img_cerveza {
  transition-duration: 0.5s;
}

.img_cerveza:hover {
  -webkit-filter: drop-shadow(0px .5rem 2rem rgba(0,0,0,.75)) 
                    drop-shadow(3px 4px 7px rgba(39, 39, 37, 0.883));
    filter:drop-shadow(0px .5rem 2rem rgba(0,0,0,.75)) 
           drop-shadow(3px 4px 7px rgba(39, 39, 37, 0.883));
           
  transform: scale(1.1);
  transition-timing-function: ease-in-out;

    /****Animacion circulo con nombre de la cerveza****/
    /*Original: https://codepen.io/ibanez182/pen/rOmYKq */
    /*Modificado (Ana): https://codepen.io/Ana-Kuenneth/pen/xxyYzEd */
    /*(está anidado dentro del hover de la imagen, intenté que funcione pero no fue asi, por eso lo comenté)*/

  .nombre_en_circulo{
    transform: rotate(-45deg) translate(0px) rotate(-315deg);
    background: rgba(blue,0.5);
    width: 20rem;
    letter-spacing: 1rem;
    line-height: 20rem;
    height: 20rem;
    margin-top: -(20rem / 2);
    margin-left: -(20rem / 2);
    transition:
      all 0.5s cubic-bezier(0.55,0, 0.1,1);
      letter-spacing: 1.5s ease-out;
  }
}

.nombre_en_circulo{
  display: block;
  position: absolute;
  width: (20rem / 2);
  height: (20rem / 2);
  line-height: (20rem / 2);
  left: 50%;
  top: 50%;
  margin-top: -(20rem / 4);
  margin-left: -(20rem / 4);
  font-size: 2rem;
  font-family: Raleway, sans-serif;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #ffcd00;
  transform: rotate(-180deg) translate(-(20rem / 2)) rotate(180deg);
  box-shadow: 0px .5rem 1rem rgba(0,0,0,.5);
  transition: all 0.5s cubic-bezier(0.55,0, 0.1,1);
}


/* ********************** */
.div-imagen {
  display:inline-block;
  position:relative;
}

.div-imagen > div {
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  padding:10px;
  margin:0;
}

.desvanecer:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

/* ======================================================================== */
/* CADA CERVEZA */
/* ======================================================================== */

.fondo_cerveza{
  background-image: url("https://www.brahma.com.ar/static/media/bg-meetUs.d857943d.jpg");
  margin: 0;
  padding: 0;
  height: 100%;
}

.informacion{
  padding-top: 12%;
}
#NOMBRE_CERVEZA{
  margin: 0;
  padding: 0 10% 4% 17%;

  text-align: start;
  letter-spacing: 0.05em;

  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  font-size: 100px;
  line-height: 72px;
  text-transform: uppercase;
  color: #ffae00;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.767);
}
.dos_partes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#img_chopp{
  width: 9rem;
  height: min-content;
}

#img_lagger{
  width: 15%;
  height: min-content;
}

#img_malzbier{
  width: 11%;
  height: 21rem;
}

#info{
  width: 25%;
  height: min-content;
}

#img_chopp, #img_lagger, #img_malzbier, #info{
  margin-right: 5rem;
  margin-left: 5rem;
}

/********informacion********/
.info_cada_cerv{
  margin-bottom: 5rem;
}
.data{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  font-size: 1.95312rem;
  color: #ECC983;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


/* ======================================================================== */
/* FOOTER*/
/* ======================================================================== */
footer {
  background-color: red;
  line-height: 2;

  height:5rem;
  width:100%;

  margin: 0;
  z-index: 9999;
  margin-bottom: 0;
}

.iconFooter {
  height: 1.5rem;
  padding: 0.7em;
}

.ft-social-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0.2rem;
  margin: 0;
}

@media screen and (min-width: 400px) {
  .ft-social-list {
    display: flex;
    justify-content: center;
    padding: 0.2rem;
  }

  .iconFooter {
    height: 1.7rem;
    padding-top: 0.9em;
    padding-left: 1.9em;
    padding-right: 1.9em;
    padding-bottom: 0.9em;
  }
}

@media screen and (max-width: 991px) {
  .text-center .logo__wrapper-img {
    margin-left: auto;
    margin-right: auto;
  }
}
/* ======================================================================== */
/* THE END*/
/* ======================================================================== */