/* ======================================================================== */
/* DOM */
/* ======================================================================== */
body{
  padding: 0;
  margin: 0;

  display: block;

}
/* ======================================================================== */
/* NAVBAR*/
/* ======================================================================== */
header{
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 9999;
  background-color: rgba(255, 0, 0, 0.644);
}

nav{
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar__items{
  list-style-type: none;
  display: flex;
  align-content: center;
  margin: 0;
  padding: 0;
}

.logo__anchor{
  display: flex;
  align-items: center;
}
.navbar__logo{
  height: 2.3rem;
  padding: 10px 50px 10px 10px;
}
.navbar__items > li{
  display: flex;
  align-items: center;
  padding: 25px 30px 25px 0;
  margin: 0;
}

.navbar__items > li > a{
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 1.02rem;
  text-decoration: none;
}


/* ======================================================================== */
/* HOME*/
/* ======================================================================== */
.slider-frame {
  /* width: 1280px; */
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.slider-frame ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 500%;

  animation: slide 35s infinite alternate ease-in-out;
}

.slider-frame li {
  width: 100%;
  list-style: none;
}

.slider-frame img {
  width: 100%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }

  105% {
    margin-left: -400%;
  }

  125% {
    margin-left: -400%;
  }
}

/* ======================================================================== */
/* CERVEZAS*/
/* ======================================================================== */
#CERVEZAS{
  margin: 0;
  padding: 10% 10% 10% 10%;

  text-align: center;
  letter-spacing: 0.05em;

  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  font-size: 80px;
  line-height: 72px;
  text-transform: uppercase;
  color: #ffcd00;
  text-shadow: 0 4px 4px rgba(0,0,0,.5);
}

#MARCA{
  margin: 0;
  padding: 10% 10% 10% 10%;

  text-align: center;
  letter-spacing: 0.05em;

  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  text-transform: uppercase;
  color: #ffcd00;
  text-shadow: 0 4px 4px rgba(0,0,0,.5);
}

.linea_cervezas{
  background-image: url("/assets/brahma/bg-MediaAlbum.a7a454e4.jpg");
  margin: 0;
  padding: 0;
  height: 100vh;
}
.cervezas{
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height:600px;

  margin: 0;
  padding: 0;
}

.productos{
  display: flex;
  justify-content: center;
  align-content: baseline;
  flex-direction: row;
  flex-wrap: wrap;

  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 50%;
  text-align: center;

  margin-top: 50px;
}

.tamaño{
  padding: 50px 50px 20px 50px;
}

#chopp, #lager{
  height: 12rem;
}
#malzbier{
  height: 12rem;
  width: 5.5rem;
}
#lager{
  width: 8rem;
}

/* *************ANIMACIONES****************** */
/* H1 CERVEZAS */
.tracking-in-expand{
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* HOVERS */
#CERVEZAS {
  text-decoration: inherit;
}
#CERVEZAS:hover {
  text-shadow: 3px 4px 7px rgba(39, 39, 37, 0.883);
  transition-duration: 1s;
}

.img_cerveza {
  transition-duration: 0.5s;
}

.img_cerveza:hover {
  text-shadow: 3px 4px 7px rgba(39, 39, 37, 0.883);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
}

/* ********************** */
.div-imagen {
  display:inline-block;
  position:relative;
}

.div-imagen > div {
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  padding:10px;
  margin:0;
}

.desvanecer:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

/* ======================================================================== */
/* CADA CERVEZA */
/* ======================================================================== */

.fondo_cerveza{
  background-image: url("https://www.brahma.com.ar/static/media/bg-meetUs.d857943d.jpg");
  margin: 0;
  padding: 0;
  height: 100vh;
}

.informacion{
  padding-top: 12%;
}
#NOMBRE_CERVEZA{
  margin: 0;
  padding: 0 10% 4% 17%;

  text-align: start;
  letter-spacing: 0.05em;

  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  font-size: 100px;
  line-height: 72px;
  text-transform: uppercase;
  color: #ffae00;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.767);
}
.dos_partes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#img_chopp{
  width: 9rem;
  height: min-content;
}

#img_lagger{
  width: 15%;
  height: min-content;
}

#img_malzbier{
  width: 11%;
  height: 21rem;
}

#info{
  width: 25%;
  height: min-content;
}

#img_chopp, #img_lagger, #img_malzbier, #info{
  margin-right: 5rem;
  margin-left: 5rem;
}
/* ======================================================================== */
/* FOOTER*/
/* ======================================================================== */
footer {
  background-color: red;
  line-height: 2;

  height:5rem;
  width:100%;

  margin: 0;
  z-index: 9999;
}

.iconFooter {
  height: 1.5rem;
  padding: 0.7em;
}

.ft-social-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0.2rem;
  margin: 0;
}

@media screen and (min-width: 400px) {
  .ft-social-list {
    display: flex;
    justify-content: center;
    padding: 0.2rem;
  }

  .iconFooter {
    height: 1.7rem;
    padding-top: 0.9em;
    padding-left: 1.9em;
    padding-right: 1.9em;
    padding-bottom: 0.9em;
  }
}

@media screen and (max-width: 991px) {
  .text-center .logo__wrapper-img {
    margin-left: auto;
    margin-right: auto;
  }
}
/* ======================================================================== */
/* THE END*/
/* ======================================================================== */